<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528674706048-bkcchfhh13p9ivgvje3j685rvfcir0bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528674706048-bkcchfhh13p9ivgvje3j685rvfcir0bc</string>
	<key>API_KEY</key>
	<string>AIzaSyDQJJcFaDgfPEie8O09J6XG6ZOUk9JF7QI</string>
	<key>GCM_SENDER_ID</key>
	<string>528674706048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Micoone.OpenTalkProject</string>
	<key>PROJECT_ID</key>
	<string>opentalk-186b6</string>
	<key>STORAGE_BUCKET</key>
	<string>opentalk-186b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528674706048:ios:8e636e2af9d6fd12980c65</string>
</dict>
</plist>